.center {
  display: grid;
  place-items: center;
}

.flex {
  display: flex;
}

.clean-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.capitalize {
  text-transform: capitalize;
}

// Colors
.slate {
  color: $slate;
}

.light-slate {
  color: $lightest-slate;
}

.green {
  color: $green;
}

.hidden {
  display: hidden;
}

.bold {
  font-weight: bold;
}