.center {
  display: grid;
  place-items: center;
}

.flex {
  display: flex;
}

.clean-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.big-heading {
  font-size: clamp(40px, 8vw, 80px)
}

// Colors
.slate {
  color: $slate;
}

.light-slate {
  color: $lightest-slate;
}

.green {
  color: $green;
}