// .index-layout {
//   display: grid;
//   grid-template-columns: minmax(80px, 1fr) 970px minmax(80px, 1fr);

//   > * {
//     grid-column: 2;

//     &.full {
//       grid-column: 1 /-1;
//     }
//   }
// }

.section-layout {
  margin: 75px auto;
  > :last-child {
    margin-bottom: 200px;
  }
}

@media (max-width: $medium-breakpoint) {
  .section-layout {
    display: flex;
    margin: 0;
    // place-items: center;
    > * > * {
      // display: flex;
      // margin: 0 auto;
      // justify-content: center;
      // background-color: goldenrod;
    }
  }
}

.index-layout {
  display: grid;

  grid-template-columns: minmax(24px, 1fr) minmax(250px, $small-breakpoint) minmax(
      24px,
      1fr
    );

  > * {
    grid-column: 2;

    &.full {
      grid-column: 1 /-1;
    }


  }

  @include for-tablet-layout {
    grid-template-columns: minmax(40px, 1fr) minmax(auto, $medium-breakpoint) minmax(
        40px,
        1fr
      );
  }

  @include for-normal-layout {
    grid-template-columns: minmax(40px, 1fr) minmax(auto, $large-breakpoint) minmax(
        40px,
        1fr
      );
  }

  @include for-wide-layout {
    grid-template-columns:
      // minmax($pad-40,1fr) minmax($x-large-breakpoint, 1700px) minmax($pad-40,1fr);
      minmax(auto, 1fr) minmax(auto, $x-large-breakpoint) minmax(auto, 1fr);
  }
}
