// Font Sizes
.fs12 {
    font-size: rem(12px);
}

.fs14 {
    font-size: rem(14px);
}

.fs20 {
    font-size: rem(20px);
}
.fs28 {
    font-size: rem(28px);
}
.fs32 {
    font-size: rem(32px);
}

// margins

.mar-t8 {
    margin-top: 0.5rem;
}
.mar-t24 {
    margin-top: 1.5rem;
}
.mar-t24 {
    margin-top: 1.5rem;
}

.mar-t48 {
    margin-top: 3rem;
}

.mar-b4 {
    margin-bottom: 0.25rem;
}

.mar-b8 {
    margin-bottom: 0.5rem;
}

.mar-b16 {
    margin-bottom: 1rem;
}