// @media (min-width: $x-large-breakpoint) {
.about-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  p {
    display: flex;
    color: $slate;
    justify-content: center;
  }
}

.about {
  animation: slide-in 3s forwards;
  animation-play-state: paused;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}

.img-container {
  display: flex;
  justify-content: center;
  padding: 1rem;
  margin-bottom: 1rem;
}

.about-img {

      height: 400px;
    width: 400px;
  border-radius: 50%;
  aspect-ratio: 16/9;
  display: flex;
  justify-content: flex-end;
  object-fit: cover;
  border: 1px solid $green;
}

.stack-list {
  display: grid;
  grid-auto-rows: 100px;
  grid-auto-columns: minmax(100px, 1fr);
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;

  >* {
    place-items: center;
  }
}

.tech-stack-list {
  color: $green;
  display: flex;
  flex-direction: column;

  >* {
    margin: auto;
  }

  >svg {
    margin: auto 1px;
    height: 3rem;
    width: 3rem;
  }

  &:hover {
    color: white;
  }
}

// }
@media (max-width: $medium-breakpoint) {
  .about-section {
    display: flex;
    flex-direction: column;

    > :nth-child(2) {
      margin-left: 0;
      text-align: justify;
    }
  }

  .img-container {
    justify-content: center;
  }

  .about-img {
    height: 220px;
    width: 220px;
    border-radius: 50%;
  }
}