.about-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  p {
    color: $slate;
    margin-bottom: 1rem;
  }
}

.about-img {
  height: 300px;
  width: 300px;
  aspect-ratio: 16/9;
  object-fit: cover;
  margin: 0 50px;
  border: 1px solid $green;
}


.tech-stack-list {
  display: flex;
  flex-direction: row;
  margin-right: 2rem;
  margin-bottom: 2px;
  color: $green;
  > svg {
    margin: auto 1px;
  }
}