.experience-section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    > * {
        margin: 0 2rem 2rem 0;
    }
}

.experience-list {
    display: flex;
    margin-bottom: 2px;
    > span {
        display: flex;
        margin: auto 1px;
    }
}