.experience-section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  > * {
    margin: 0 2rem 2rem 0;
  }
  > ul {
    display: flex;
    flex-direction: column;
  }
}

.btn-exp {
  width: 100%;
  border: none;
  &:focus {
    background-color: rgba($color: $slate, $alpha: 0.3);
  }
}

.experience-list {
  display: flex;
  margin-bottom: 2px;

  > span {
    display: flex;
    margin: auto 1px;
  }
}

@media (max-width: $medium-breakpoint) {
  .section-layout#experience {
    // > li {
    //   margin-bottom: 0.5rem;
    // }
    // display: flex;
    flex-direction: column;
  }

  .experience-section {
    display: flex;
    flex-direction: column;
    > * {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
    // margin: none;
    // > :first-child {
    //   width: 15%;
    // }
    // > :last-child {
    //   width: 85%;
    // }
    // grid-template-columns: 1fr 3fr;
    // flex-direction: column;
    // ul {
    //   list-style-type: none;
    //   padding-inline-start: 0.5rem;
    // }
  }

  input[type="range"] {
    // appearance: slider-vertical;
    // padding: 0;
    // border: none;
    // display: flex;
    // writing-mode: sideways-rl;
  }
}
