.experience-section {
  display: grid;
  grid-template-columns: 1fr 2fr;

  >* {
    margin: 0 2rem 2rem 0;
  }

  >ul {
    display: flex;
    flex-direction: column;
  }
}

.btn-exp {
  width: 100%;
  border: none;

  &:focus {
    background-color: rgba($color: $slate, $alpha: 0.3);
  }
}

.experience-list {
  display: flex;
  margin-bottom: 2px;

  >span {
    display: flex;
    margin: auto 1px;
  }
}

@media (max-width: $medium-breakpoint) {
  .section-layout#experience {
    flex-direction: column;
  }

  .experience-section {
    display: flex;
    flex-direction: column;

    >* {
      margin: 1rem 0;
    }
  }

  .mb-exp-details {
    border: 1px solid $green;
    border-radius: 12px;
    padding: 1rem 2rem;

    >summary {
      list-style: none;
      display: flex;
      flex-direction: column;
    }
  }

  .experience-list {
    margin-top: 0.75rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;

    li::marker {
      color: $green;
    }
  }
}