.intro-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  opacity: 0;

  > * {
    margin: auto;
    display: flex;
    flex-direction: column;
  }

  p {
    color: $slate;
    margin-top: 1.5rem;
    font-size: rem(20px);
    width: 60%;
  }
}


.big-heading {
  font-size: clamp(32px, 8vw, 64px);
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba($slate, 0.7);
  }
  
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba($slate, 0);
  }
  
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba($slate, 0);
  }
}

@media (max-width: $medium-breakpoint) {
  .intro-layout {
    // min-height: 100vh;
    p {
      width: 100%;
    }
  }
}
