.intro-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  > * {
    margin: auto;
    display: flex;
    flex-direction: column;
  }

  p {
    color: $slate;
    margin-top: 1.5rem;
    font-size: rem(20px);
    width: 60%;
  }
}
