.social {
  position: fixed;
  height: 100%;
  display: flex;
  > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 0;
  }
  right: 3%;
}

.social-list a {
  > svg {
    height: 1.5rem;
    width: 1.5rem;
    margin-bottom: 1rem;
    &:hover {
      scale: 1.1;
    }
  }
}
